.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px; /* Espacio entre el logo/texto y el menú */
  } 
  
  .company-logo {
    width: 50px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
    margin-right: 20px; /* Espacio entre el logo y el texto */
  }

  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info p {
    margin-right: 10px;
  }
  
  .user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
  }
  
  .custom-menubar {
    justify-content: center;
    width: 80%;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    cursor: pointer;
  }
  
  .sidebar-menu li i {
    margin-right: 0.5rem;
  }