/* Estilos generales */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #2C3E50;
  padding: 20px;
  color: white;
  font-size:larger;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100%;
  margin-bottom: 10px;
}

.company-logo {
  width: 50px;
  height: auto;
}

.custom-menubar .p-menubar-root-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ECF0F1;
}

.custom-menubar .p-menubar-root-list > .p-menuitem {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Estilos para el menú hamburguesa en pantallas pequeñas */
.hamburger-icon {
  display: none; /* Inicialmente oculto */
  background: transparent;
  border: none;
  font-size: 2rem;
}

.mobile-menu {
  display: none; /* Oculto por defecto */
}

@media (max-width: 768px) {
  .custom-menubar {
    display: none; /* Ocultar el Menubar en pantallas pequeñas */
  }

  .hamburger-icon {
    display: block; /* Mostrar el icono hamburguesa en pantallas pequeñas */
  }

  .mobile-menu {
    display: block; /* Mostrar el menú hamburguesa en pantallas pequeñas */
  }

  .header-top {
    width: 100%;
    justify-content: space-between;
  }
}
