/* Estilos generales */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
}

.login-form {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.p-float-label {
  margin-bottom: 1.5rem;
}

.session-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

session-timer svg text {
  fill: black;
  font-size: 18px;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .login-container {
    padding: 10px;
  }

  .login-form {
    width: 90%; /* Ajustamos el ancho para pantallas más pequeñas */
    max-width: 100%;
    padding: 15px;
  }

  .button-group {
    flex-direction: column; /* En pantallas más pequeñas, los botones estarán uno debajo del otro */
    gap: 10px; /* Espacio entre los botones */
  }

  .session-timer {
    margin-top: 15px;
  }

  .button-container {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 5px;
  }

  .login-form {
    padding: 10px;
  }

  .button-group {
    margin-top: 15px;
    gap: 8px;
  }

  .session-timer {
    margin-top: 10px;
  }
}
